<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>אבן הטוען - מציאה</title>
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body>
    <div class="main-outer">
      <div id="title">
        <h3 class="title">אבן הטוען - מצאתי משהו</h3>
      </div>
      <div class="choices" id="choices">
        <input type="text" id="city" placeholder="עיר" />
        <input type="text" id="item" placeholder="חפץ" />
        <input type="text" id="category" placeholder="קטגוריה" />
      </div>

      <button type="button" onclick="submitfound()">הכנס למאגר</button>

      <div class="results" id="results"></div>
    </div>

    <script src="assets/found.js"></script>
  </body>
</html>
