<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/main.css" />
    <title>אבן הטוען</title>
  </head>
  <body>
    <div class="account-div">
      <a href="/account"><img title="כניסה לחשבון" src="/assets/account.png" /></a>
    </div>
    <div class="two-options-div">
      <a href="/found" class="option"><p class="choose">מצאתי משהו</p></a>
      <a href="/lost" class="option"><p class="choose">איבדתי משהו</p></a>
    </div>
    <script src="assets/main.js"></script>
  </body>
</html>
